---
import type { StarlightBlogEntry } from '../../../../node_modules/starlight-blog/libs/content.ts';
import type { Locale } from '../../../../node_modules/starlight-blog/libs/i18n.ts';
import {
  getPathWithLocale,
  getRelativeUrl,
} from '../../../../node_modules/starlight-blog/libs/page.ts';

import Cover from '../../../../node_modules/starlight-blog/components/Cover.astro';
import Excerpt from '../../../../node_modules/starlight-blog/components/Excerpt.astro';
import Metadata from '../../../../node_modules/starlight-blog/components/Metadata.astro';
import PostTags from './PostTags.astro';

interface Props {
  entry: StarlightBlogEntry;
  locale: Locale;
}

const { entry, locale } = Astro.props;
---

<article class="preview">
  <header>
    <h2>
      <a href={getRelativeUrl(`/${getPathWithLocale(entry.id, locale)}`)}>{entry.data.title}</a>
    </h2>
    {entry.data.cover && <Cover cover={entry.data.cover} />}
    <Metadata entry={entry} {locale} />
  </header>
  <div class="sl-markdown-content">
    <Excerpt {entry} />
  </div>
  <footer>
    <PostTags {entry} />
  </footer>
</article>

<style>
  .preview {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  h2 {
    margin-bottom: 1.5rem;
  }

  h2 a {
    text-decoration: none;
  }
</style>
