---
import Default from '@astrojs/starlight/components/MarkdownContent.astro';

import { getBlogEntry } from '../../../../../node_modules/starlight-blog/libs/content.ts';
import { isAnyBlogPostPage } from '../../../../../node_modules/starlight-blog/libs/page.ts';
import Cover from '../../../../../node_modules/starlight-blog/components/Cover.astro';
import Metadata from '../../../../../node_modules/starlight-blog/components/Metadata.astro';
import PrevNextLinks from '../../../../../node_modules/starlight-blog/components/PrevNextLinks.astro';
import PostTags from '../PostTags.astro';

const { id, locale } = Astro.locals.starlightRoute;

if (!isAnyBlogPostPage(id)) {
  return null;
}

const { entry, nextLink, prevLink } = await getBlogEntry(id, locale);
---

<Default>
  {entry.data.cover && <Cover cover={entry.data.cover} />}
  <Metadata entry={entry} {locale} showBadges={false} />
  <slot />
  <div class="post-footer">
    <PostTags entry={entry} {locale} />
    <PrevNextLinks next={nextLink} prev={prevLink} />
  </div>
</Default>

<style>
  .post-footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-block-start: 2rem !important;
  }
</style>
